<h2>Question : </h2>
<p>Q. <%= Nokogiri::HTML.parse("#{@questi.question}").text %> </p>
<% temp = rand(4) %>
<div>
	<%= form_tag("/quest/#{@questi.category}/#{@questi.subcat}", method: "post") %>
		<ul>
			<% 4.times do |f| %>
				<% if temp == 0 %>
					<input type="radio" name="choice" value = "<%= @questi.option1 %>"><%= Nokogiri::HTML.parse("#{@questi.option1}").text %><br>
				<% elsif temp == 1 %>
					<input type="radio" name="choice" value = "<%= @questi.option2 %>"><%= Nokogiri::HTML.parse("#{@questi.option2}").text %><br>
				<% elsif temp == 2 %>
					<input type="radio" name="choice" value = "<%= @questi.option3 %>"><%= Nokogiri::HTML.parse("#{@questi.option3}").text %><br>
				<% else %>
					<input type="radio" name="choice" value = "<%= @questi.option4 %>"><%= Nokogiri::HTML.parse("#{@questi.option4}").text %><br>
				<% end %>
				<% temp = (temp + 1) % 4 %>
			<% end %>
		</ul>
		<input type="Submit" name="Submit">
</div>

<%= link_to "Dashboard", dashboard_path %>